In [1]:
import src.stock_market as sm

stock_market = sm.StockMarket()
stock_market.stocks_df

          Type  Last Dividend Fixed Dividend  Par Value
TEA     Common              0              0        100
POP     Common              8              0        100
ALE     Common             23              0         60
GIN  Preferred              8             2%        100
JOE     Common             13              0        250

In [4]:
stock_market.calculate_dividend_yield('POP', 200)

0.04

In [7]:
stock_market.calculate_pe_ratio('POP', 100)

12.5

In [12]:
stock_market.record_trade('POP', 100, 0, 100)
stock_market.trades

,id,stock_symbol,transaction_created,share_quantity,buy_sell_indicator,traded_price
0,1,POP,2024-01-23 09:59:32.208614,100,0,100
1,2,POP,2024-01-23 09:59:39.529948,100,0,100
2,3,POP,2024-01-23 09:59:48.376768,100,0,100
3,4,POP,2024-01-23 09:59:51.785535,100,0,100

In [13]:
stock_market.calculate_gbce_all_share_index()

100.0